.hb-sub-nav {
  background-color: $light-gray;
  padding: 1rem 0 !important;

  hb-btn {
    width: 100%;
  }
}

.horseboxes {

  .grid-x {
    padding-bottom: 2rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .medium-6 {
    border: none !important;
  }

  h1,
  h2 {
    background-color: $primary-color;
    color: $white !important;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 0;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    width: 100%;
  }

  h3 {
    background-color: $light-gray;
    color: $primary-color;
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 0;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    width: 100%;
  }

  .horseboxes-text {
    margin: 2rem 0;
  }

  .horseboxes-image {
    background-color: $light-gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 0;
    margin-bottom: 1rem;
    padding-top: 66%;
  }
}

.horseboxes-item {

  .grid-x {
    padding-bottom: 1.5rem;
  }

  h4 {
    background-color: $primary-color;
    color: $white;
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 0;
    padding: 0.5rem 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .text-area{
    background-color: $light-gray;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;

    ul {
      margin-bottom: 0;

      li {
        list-style: disc;
      }
    }
  }
}

.enquiry {
  background-color: $light-gray;
  padding: 0.7rem;
  width: 100%;
}

.hb-gallery {
  margin-bottom: 1rem;
}
