.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $light-gray;
  color: $white;
  height: 480px;
  padding: 0;
  margin-top: 60px;
  position: relative;
  transition: background-color 0.25s ease-out;

  @include breakpoint(small down) {
    margin-top: 60px;
  }

  @include breakpoint(large) {
    height: 520px;
  }

  @include breakpoint(xlarge) {
    height: 560px;
  }

  &.solid {
    height: 200px;

    &:before {
      content: none;
    }
  }

  &.light {
    background: $light-gray;
    color: $primary-color;
    height: 400px;
    position: relative;

    &:before {
      content: none;
    }
  }

  &__image {
    display: block;
    height: 100%;
    margin-top: -3rem;
  }

  &__content-holder {
    @include vertical-center;
    height: 100%;
    position: relative;
    z-index: 10;

    &:before {
      background: rgba($black, 0.5);
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: background-color 0.25s ease-out;
      width: 100%;
      z-index: -1;
    }

    @include breakpoint(medium down) {
      .home-page & {
        @include vertical-center;
        text-align: center;
        width: 100%;
      }

      .services-page & {
        @include vertical-center;
        width: 100%;
      }

      .about-page & {
        @include vertical-center;
        width: 100%;
      }
    }

    h1,
    h2 {
      font-weight: 600;
      letter-spacing: 0.5rem;
      text-transform: uppercase;

      @include breakpoint(large) {
        font-size: rem-calc(64px);
        line-height: rem-calc(96px);
      }

      @include breakpoint(medium) {
        font-size: rem-calc(48px);
        line-height: rem-calc(72px);
      }

      @include breakpoint(small) {
        font-size: rem-calc(32px);
        line-height: rem-calc(48px);
      }
    }

    h2 {
      font-weight: 600;
      text-transform: uppercase;
    }

    h3 {
      font-size: rem-calc(64px);
      line-height: rem-calc(56px);
      font-weight: 600;
      text-transform: uppercase;

      @include breakpoint(small down) {
        font-size: rem-calc(48px);
        line-height: rem-calc(36px);
      }
    }

    h4 {
      font-size: rem-calc(48px);
      line-height: rem-calc(48px);
      font-weight: 600;
      text-transform: uppercase;
    }

    h2 em,
    h3 em {
      font-size: 70%;
      font-style: normal;
      font-weight: 300;
      text-transform: uppercase;
    }
    h4 em {
      font-style: normal;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
  &__content {
    @include vertical-center;
  }

  ul.footer_menu {
    display: inline-block;

    li {
      border-left: 1px solid $white;
      display: inline-block;
      text-transform: uppercase;

      &:first-child {
        border: none;
      }
    }

    li a {
      color: $white;
      font-size: 0.85rem;
      padding: 0.25rem 0.5rem;
    }
  }
}

.banner--small {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $black;
  color: $white;
  height: 480px;
  padding: 3rem 0;
  position: relative;
  transition: background-color 0.25s ease-out;

  &:before {
    background: rgba($black, 0.66);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.25s ease-out;
    width: 100%;
    z-index: 5;
  }

  @include breakpoint(small) {
    height: 280px;
  }

  @include breakpoint(large) {
    height: 280px;
  }

  @include breakpoint(xlarge) {
    height: 320px;
  }
}

.banner-logo img {
  margin-bottom: 1rem;
  max-width: 320px;
}

.downarrow {
  border: solid $white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-top: 3rem;
  padding: 12px;
  position: relative;
  transform: rotate(45deg);
  z-index: 7;
}
